
.metadata/.plugins/org.eclipse.core.resources/.history/*

*.index
*.snap
ActualNodeA/build/telosb/app.c
*.ihex
ActualNodeA/build/telosb/tos_image.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/ActualNodeA/.indexes/e4/history.index
ActualNodeA/.cache/*
*/.cache/*
NodeB/build/telosb/app.c
NodeB/build/telosb/tos_image.xml
NodeC/build/telosb/app.c
NodeA/build/telosb/main.ihex.out
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
NodeA/build/telosb/ident_flags.txt
NodeA/build/telosb/tos_image.xml
*.snap
